<p style="color: green"><%= notice %></p>

<%= render @care_package_product %>

<div>
  <%= link_to "Edit this care package product", edit_care_package_product_path(@care_package_product) %> |
  <%= link_to "Back to care package products", care_package_products_path %>

  <%= button_to "Destroy this care package product", @care_package_product, method: :delete %>
</div>
